# python related files and folders
__pycache__/
*.pyc
*.pyo
*.pyd

# virtual envs
.venv/
venv/

# build artifacts
build/
dist/
*.egg-info/

# local config (API keys)
config.json
*.env

# OS junk
.DS_Store
Thumbs.db
